* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* LAYOUT */
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid--3-cols {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* GENERAL COMPONENTS */
.heading-primary {
  font-size: 4.2rem;
  line-height: 1.2;
}

.heading-secondary {
  font-size: 3.2rem;
  color: black;
  line-height: 1.2;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 500;
  color: #033f85;
  text-transform: uppercase;
}

.sub-heading {
  font-size: 3.2rem;
  color: #999;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  color: #4f7eb4;
}

.btn--full:link,
.btn--full:visited {
  color: #fff;
  background-color: #022a59;
  padding: 1.6rem 2.4rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.btn--full:hover,
.btn--full:active {
  background-color: #033f85;
}

.btn-rest {
  font-size: 1.6rem;
  transition: all 0.3s;
}

.btn-rest:link,
.btn-rest:visited {
  color: #fff;
  background-color: #022a59;
  padding: 1.6rem 2.4rem;
  border-radius: 9px;
  text-decoration: none;
}

.btn-rest:hover,
.btn-rest:active {
  background-color: #033f85;
}

.link {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
  font-size: 1.8rem;
}

.link:link,
.link:visited {
  color: #033f85;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #034694;
  border-bottom: 1px solid currentColor;
}

.marg-top {
  margin-top: 1.2rem;
}
